<template>
  <div class="container">
    <div class="row">
      <h1>To-dos</h1>
    </div>
    <div class="row">
      <input
        class="add-todo-input"
        type="text"
        placeholder="Create a new todo..."
        v-model="todo"
        v-on:keyup.enter="addTodo"
      />
      <button class="todo-add-button" @click="addTodo">Add</button>
      <button class="todo-list-clean-button" @click="cleanTodos">
        Clean List
      </button>
    </div>
    <div class="row">
      <ul class="todo-list">
        <li
          class="todo"
          v-for="(item, index) in todos"
          v-bind:key="index"
          :description="item.description"
        >
          <button class="todo" @click="revertTodoStatus(item)">
            <span class="todo" :completed="item.completed">
              {{ item.description }}
            </span>
          </button>
          <button class="todo-delete-button" @click="removeTodo(item)">
            Delete
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import client from '@/client/todolist-api-client'

export default {
  data() {
    return {
      todo: '',
      todos: []
    }
  },
  async created() {
    const response = await client.getTodos()
    if (response.isSuccess) {
      this.todos = response.body
    } else {
      // TODO show error messages!!!
    }
  },
  methods: {
    async addTodo() {
      const response = await client.addTodo(this.todo)
      if (response.isSuccess) {
        this.todos.push({
          id: response.body.id,
          description: this.todo,
          completed: false
        })
        this.todos.sort((a, b) => (a.description > b.description ? 1 : -1))
      } else {
        // TODO show error messages!!!
      }
      this.todo = ''
    },
    async removeTodo(todo) {
      const response = await client.removeTodo(todo.id)
      if (response.isSuccess) {
        this.todos.splice(this.todos.indexOf(todo), 1)
        this.todos.sort((a, b) => (a.description > b.description ? 1 : -1))
      } else {
        // TODO show error messages!!!
      }
    },
    async revertTodoStatus(todo) {
      const response = await client.revertTodoStatus(todo.id)
      if (response.isSuccess) {
        todo.completed = !todo.completed
      } else {
        // TODO show error messages!!!
      }
    },
    async cleanTodos() {
      const response = await client.removeTodos()
      if (response.isSuccess) {
        this.todos = []
      } else {
        // TODO show error messages!!!
      }
    }
  }
}
</script>

<style>
span.todo[completed='true'] {
  text-decoration: line-through;
}
ul.todo-list {
  list-style: none;
}
button.todo {
  font-size: large;
  border: none;
  background: none;
  text-align: center;
  width: 40%;
  margin-right: 5%;
  margin-bottom: 5px;
}
input.add-todo-input {
  font-size: large;
  width: 40%;
  margin-right: 1%;
}
button {
  font-size: large;
  background: none;
}
button.todo-add-button {
  margin-right: 1%;
}
</style>
